content/w3tc-config/
*.log
wp-config.php
wp/wp-config.php
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/wp-cache-config.php
content/plugins/hello.php

/.htaccess
wp/license.txt
wp/readme.html
wp/sitemap.xml
wp/sitemap.xml.gz

