wp/wp-content/w3tc-config/
*.log
wp-config.php
wp/wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db/
wp/wp-content/backups/
wp/wp-content/blogs.dir/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/wp-cache-config.php
wp/wp-content/plugins/hello.php

/.htaccess
wp/license.txt
wp/readme.html
wp/sitemap.xml
wp/sitemap.xml.gz

